.thumbnail-link {
    text-decoration: none;
}

.preview-thumbnail {
    width: 100px;
    height: 100px;
    min-width: 100px; /* Prevents shrinking below 100px */
    min-height: 100px; /* Prevents shrinking below 100px */
    object-fit: cover;
    aspect-ratio: 1 / 1; /* Ensure the image remains circular */
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

    .preview-thumbnail:hover,
    .active-thumbnail {
        border-color: #007bff; /* Highlight color for the active thumbnail */
    }

.rounded-circle {
    border-radius: 50%;
}

/* Ensure thumbnails preview section can scroll horizontally */
.overflow-auto {
    overflow-x: auto;
    white-space: nowrap;
}

.d-flex {
    display: flex;
    flex-wrap: nowrap; /* Prevents wrapping and ensures horizontal scrolling */
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5); /* Adds a black background with 50% opacity */
    border-radius: 50%; /* Optional: Make the background circular */
    padding: 10px; /* Optional: Add some padding around the icon */
}
