@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container pt-5">
    <div class="card shadow border">
        <div class="card-header bg-danger bg-gradient ml-0 py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="py-2 text-white">Access Denied</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <div class="alert alert-danger text-center" role="alert">
                            <p>You do not have permission to view this page.</p>
                            <hr>
                            <p class="mb-0">Please contact your administrator if you believe this is an error.</p>
                        </div>
                        <div class="text-center pt-3">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-lg btn-outline-danger">Go to Home</a>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
